### Root-level ###
.DS_Store
*.log
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

### Backend ###
/backend/dist/
/backend/build/
/backend/node_modules/
/backend/logs/
/backend/*.log
/backend/coverage/
/backend/.nyc_output/
/backend/.env
/backend/.env.*.local
/backend/.temp
/backend/.tmp

/backend/.idea/
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

/backend/.vscode/*
!/backend/.vscode/settings.json
!/backend/.vscode/tasks.json
!/backend/.vscode/launch.json
!/backend/.vscode/extensions.json

/backend/*.zip
/backend/*.rar
/backend/*.csv

### Frontend ###
/frontend/dist/
/frontend/build/
/frontend/node_modules/
/frontend/logs/
/frontend/*.log
/frontend/coverage/
/frontend/.nyc_output/
/frontend/.env
/frontend/.env.*.local
/frontend/.temp
/frontend/.tmp

/frontend/.idea/
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

/frontend/.vscode/*
!/frontend/.vscode/settings.json
!/frontend/.vscode/tasks.json
!/frontend/.vscode/launch.json
!/frontend/.vscode/extensions.json

/frontend/*.zip
/frontend/*.rar
/frontend/*.csv
